@page "/"

<PageTitle>Index</PageTitle>

<h1>Hellooo, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<div class="thisisaclass" id="maindiv" data-testid="buttonDiv">
    <button id="button1" data-testid="ClickMeButton">Click Me!</button>
    <button id="button2" data-testid="RemoveButton">Remove!</button>
</div>